<div class="row gx-0">
  <div class="col-lg d-flex top-img" style="">
  </div>
</div>

<div class="text-center my-3 mb-5">
  <div class="d-inline-block">
    <h3 class="text-uppercase text-start fw-bolder display-6 d-inline">
      More
    </h3>
  </div>
  <div class="d-inline-block ms-3 animate__animated animate__swing animate__infinite ">
      <h3 class="d-inline display-6  ">
        <i class="bi bi-controller"></i>
      </h3>
  </div>
</div>


<div class="row gx-0">
  <div class="col-lg-6 mt-5 pt-3 pb-3 px-5">
    <p class="lead px-5">
      I play video games as a hobby, that's aside from watching movies and social media. I've owned and played on all the Playstation consoles
      (except PS5, don't have yet). I do sometimes play on PC and Nintendo Switch. So if you are a gamer too, I bet we can talk about it a lot!
      It's my stress-reliever.
    </p>


    <figure class="my-5 px-5">
      <blockquote class="blockquote">
        <p>"We don't stop playing because we grow old; we grow old because we stop playing".</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        George Bernard Shaw
      </figcaption>
    </figure>

  </div>
  <div class="col-lg-6 bg-dark animate__animated animate__fadeIn animate__delay-2s" id="moreimg" style="">

  </div>
</div>

<div class="row gx-0 my-3 justify-content-center">
  <div class="col-lg-8">
    <p class="lead px-5 text-center">
      I usually like story-driven games now, especially if it has awesome story/story-telling and lines such as below of my played games and they are screenshots that i took my own.
    </p>
    <p class="lead px-5 text-center">
      I play any kind of genre as long as its fun <i class="bi bi-emoji-smile"></i>
    </p>
  </div>
</div>

<div class="row gx-0 my-3">
  <div class="card-group">
    <div class=" card text-white">
      <img src="assets/img/g1.jpg"/>
      <div class="card-img-overlay text-center">
      </div>
    </div>
    <div class=" card text-white">
      <img src="assets/img/g2.jpg"/>
      <div class="card-img-overlay text-center">
        <!-- <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead fw-normal-in to additional content. This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p> -->
      </div>
    </div>
  </div>
</div>

<div class="row gx-0">
  <div class="card-group">
    <div class=" card text-white">
      <img src="assets/img/g3.jpg"/>
      <div class="card-img-overlay text-center">
      </div>
    </div>
    <div class=" card text-white">
      <img src="assets/img/g4.jpg"/>
      <div class="card-img-overlay text-center">
        <!-- <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead fw-normal-in to additional content. This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p> -->
      </div>
    </div>
  </div>
</div>

<div class="row gx-0 my-3 justify-content-center">
  <div class="col-lg-8">
    <p class="lead px-5 text-center">
      <i class="bi bi-bricks"></i>
    </p>
  </div>
</div>

<div class="row gx-0 my-3">
  <div class="col-lg-6 bg-dark animate__animated animate__fadeIn animate__delay-3s" id="lego" style="">

  </div>
  <div class="col-lg-6 mt-5 pt-3 pb-3 px-5">
    <p class="lead px-5">
      I also collect lego sets, it's such a good feeling of accomplishment whenever i finish building one. Currently i'm more on to vehicle sets, but any will do if you'd give me one
      <i class="bi bi-emoji-wink"></i>. Since it's expensive i try to get one set per.. year <i class="bi bi-emoji-frown"></i>
    </p>


    <figure class="my-5 px-5">
      <blockquote class="blockquote">
        <p>"If i would have all the money in the world, I'd build legos everyday"</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Me <span class="d-inline-block lead animate__animated animate__heartBeat animate__infinite animate__slower animate__delay-3s"><i class="bi bi-emoji-laughing"></i></span>
      </figcaption>
    </figure>

  </div>
</div>

<div class="row gx-0 my-3 justify-content-center">
  <div class="col-lg-8">
    <p class="lead px-5 text-center">
      That's about it, others, you figure it out <i class="bi bi-emoji-wink-fill"></i>
    </p>
  </div>
</div>

<div class="row gx-0 my-3">
  <div class="col-sm-6">
    <div class="row justify-content-center">
      <div class="col-lg-8" id="moreend1">

      </div>
    </div>

  </div>
  <div class="col-sm-6">
    <div class="row justify-content-center">
      <div class="col-lg-8" id="moreend2">

      </div>
    </div>

  </div>
</div>

<div class="row gx-0 container justify-content-center my-5">
    <div class="col text-center">
      <button type="button" onClick="openTab('#pills-photography-tab')" class="btn btn-outline-primary btn-lg">Check out my Photography</button>
    </div>
</div>


<div class="row gx-0 container justify-content-center my-5">
    <div class="col text-center">
      <button type="button" id="back-to-top" onClick="backToTop()" class="btn btn-outline-secondary" name="button">Back to Top</button>
    </div>
</div>
