<div class="row gx-0">
  <div class="col d-flex justify-content-center">
    <div class="d-block" style="background-image: url('assets/img/profile.jpg'); background-size: cover; height: 250px; width: 250px">

    </div>
  </div>
</div>
<div class="row container my-2 mb-1">
  <div class="text-center">
    <span class="d-block fs-3 mb-0">Jay Alvin Co</span>
    <span class="d-block fs-5 mb-0">(+63) 905-574-1020</span>
    <span class="d-block fs-5 mb-0">jalbinco@gmail.com</span>
    <span class="d-block fs-6 mb-0">Cainta, Rizal Philippines</span>
    <a type="button" class="btn btn-outline-primary mt-1" name="button" href="src/assets/Co,Jay Alvin - CV.pdf" download>Download CV</a>
  </div>
</div>
<div class="row container justify-content-center mt-2">
  <div class="col-lg-10">
    <div class="row">
      <h1 class="h4 fw-normal"><i class="bi bi-card-list text-success"></i> Skills</h1>
    </div>
    <div class="card row my-2 mb-1">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text"></p>
        <ul>
          <li class="lead">
            Javascript, Typescript, Angular, Jquery, Html, Sass/CSS, Bootstrap
          </li>
          <li class="lead">
            PHP, Phpunit, Laravel, MySql
          </li>
          <li class="lead">
            Git, TFS, Jira, Postman/APIs, Agile, Python
          </li>
          <li class="lead">
            Photography, Videography, Photo Editing, Adobe Photoshop, Lightroom, Office Apps
          </li>
          <li class="lead">Others:
            <ul>
              <li class="lead">
                Possesses positive attitude towards learning, leadership capabilities, and analytical skills.
              </li>
              <li>
                Resourceful, Willing to learn, Shares knowledge and influences others. Able to work individually
                and/or collaboratively with a dynamic team
              </li>
              <li class="lead">
                Fluent in English and Filipino.
              </li>
              <li class="lead">
                Past Experience working with Android Development, 3rd Party Authentications and other
                libraries(paypal,google,facebook)
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row container justify-content-center mt-2">
  <div class="col-lg-10">
    <div class="row">
      <h1 class="h4 fw-normal"><i class="bi bi-briefcase" style="color: #B22222"></i> Experiences</h1>
    </div>
    <div class="card row my-2 mb-1">
      <div class="card-body">
        <h5 class="card-title">Realpage Philippines</h5>
        <h6 class="card-subtitle mb-2 text-muted">Software Developer</h6>
        <p class="card-text">2017 - Present</p>
        <p class="lead">
          Rentjoy <span class="text-muted"></span>(rentjoy.com)
          <br>
          ILM (Intelligent Lead Manager)
          Online leasing site, US Based.
          <br>
          - Developer (Front end/ Back end - Php/Laravel/Javascript)
          <br>
          - Agile / Git / TFS
        </p>
      </div>
    </div>
    <div class="card row my-2 mb-1">
      <div class="card-body">
        <h5 class="card-title">KLab Cyscorpions Inc.</h5>
        <h6 class="card-subtitle mb-2 text-muted">Software Engineer</h6>
        <p class="card-text">2014 - 2017</p>
        <p class="lead">


          <span class="fw-normal">Lord of the Dragons </span><span class="text-muted"></span>(mobile game)
          <br>
          Server Side (PHP / Html / Javascript)
          <br>
          <span class="fw-normal">Novicedge</span>
          <br>
          - Web Developer (Front end/ Back end - Python/Django/Javascript/Html)
        </p>
      </div>
    </div>
    <div class="card row my-2 mb-1">
      <div class="card-body">
        <h5 class="card-title">Gulliver Integrated Outsourcing Inc.</h5>
        <h6 class="card-subtitle mb-2 text-muted">Software Engineer</h6>
        <p class="card-text">2013 - 2014</p>
        <p class="lead">
          <span class="fw-normal">PC School </span><span class="text-muted">(Booking System)</span>
          <br>
          Server Side (PHP / Html / Javascript)
          <br>
          <span class="fw-normal">Websmile</span><span class="text-muted">(Bookstore (epub/pdf)</span>
          <br>
          <span class="fw-normal">E-Commerce Website</span><span class="text-muted"></span>
          <br>
          - Android / Web Developer
        </p>
      </div>
    </div>
    <div class="card row my-2 mb-1">
      <div class="card-body">
        <h5 class="card-title">SMITS (San Miguel Information Technologies)</h5>
        <h6 class="card-subtitle mb-2 text-muted">Systems Implementer</h6>
        <p class="card-text">2012 - 2013</p>
        <p class="lead">
          Test incoming systems to be used by supervisors. Discuss systems flow and assist users on errors
and interface.

        </p>
      </div>
    </div>
  </div>

</div>
<div class="row container justify-content-center mt-2">
  <div class="col-lg-10">
    <div class="row">
      <h1 class="h4 fw-normal"><i class="bi bi-spellcheck text-primary"></i> Education</h1>
    </div>
    <div class="card row my-2 mb-1">
      <div class="card-body">
        <h5 class="card-title">University Of Santo Tomas</h5>
        <h6 class="card-subtitle mb-2 text-muted">Bachelor of Science in Computer Science</h6>
        <p class="card-text">College</p>
        <p class="lead">
          Graduated 2012
        </p>
      </div>
    </div>
    <div class="card row my-2 mb-1">
      <div class="card-body">
        <h5 class="card-title">La Salle College Antipolo</h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">High School</p>
        <p class="lead">
          Graduated 2008
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row gx-0 container justify-content-center my-5">
    <div class="col text-center">
      <button type="button" onClick="openTab('#pills-home-tab')" class="btn btn-outline-primary btn-lg">Back Home</button>
    </div>
</div>

<div class="row gx-0 container justify-content-center my-5">
    <div class="col text-center">
      <button type="button" id="back-to-top" onClick="backToTop()" class="btn btn-outline-secondary" name="button">Back to Top</button>
    </div>
</div>
