/* You can add global styles to this file, and also import other style files */

@import "~bootstrap-icons/font/bootstrap-icons.css";

#body {
  background-color: black; /* For browsers that do not support gradients */
  background-image: linear-gradient(#141e30 ,#355c66);
}

.bg-light-gray {
  background-color: #ddd;
}

.text-yellow {
  color: #daa505;
}

#home-img {
  min-height: 640px;
}

#c1 {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#c1 video {
  width: 100%;
  min-height: 100%;
  height: auto;
  z-index: 0;
}

#c1 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 1;
}

.top-img {
  min-height: 560px;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  -moz-transition: min-height .5s;
  -ms-transition: min-height .5s;
  -o-transition: min-height .5s;
  -webkit-transition: min-height .5s;
}

.top-img.reduced {
  min-height: 320px;
}
