<div class="row gx-0">
  <div class="col-lg-6 mt-5 pt-3 pb-3 px-5">
    <h3 class="d-inline-block text-uppercase text-start fw-bolder animate__animated animate__tada animate__slow display-1">hello! </h3>
    <h3 class="d-inline-block text-uppercase text-start fw-bolder animate__animated animate__shakeY animate__fast display-1 animate__delay-3s"><i class="bi bi-emoji-laughing"></i></h3>
    <hr>
    <h4 class="fs-4 text-capitalize text-start mb-4 animate__animated animate__fadeInTopLeft animate__delay-1s">I'm <span class="fw-bold">Jay Alvin Co</span></h4>
    <h4 class="fs-5 text-capitalize text-start mb-3 animate__animated animate__fadeInTopRight animate__delay-2s">Web Developer / Software Engineer</h4>
    <h4 class="fs-5 text-capitalize text-start mb-3 animate__animated animate__fadeInTopLeft animate__delay-2s">Photographer & Editor / Content Creator</h4>
    <h4 class="fs-5 text-capitalize text-start fw-light mb-3 animate__animated animate__fadeInTopRight animate__delay-2s">Traveler / Gamer/ Creative</h4>
    <h4 class="fs-5 text-capitalize text-start fw-light mb-3 animate__animated animate__fadeInTopLeft animate__delay-2s">From NCR, Philippines 🇵🇭</h4>
    <div class="d-flex align-items-start flex-column bd-highlight mb-3">
      <div class="p-3 my-2 bg-primary text-white rounded align-self-start animate__animated animate__fadeIn animate__delay-3s">
        <span class="fs-5">
          Hi there!
        </span>
      </div>
      <div class="p-3  my-2 rounded  align-self-end bg-light-gray animate__animated animate__fadeIn animate__delay-3s">
        <span class="fs-5">
        Hi there, what can i do for you?
        </span>
      </div>
      <div class="p-3 my-2 bg-primary text-white rounded align-self-start animate__animated animate__fadeIn animate__delay-3s">
        <span class="fs-5">
          Nothing, just wanted to know a bit about you <i class="bi bi-emoji-smile text-yellow"></i>
        </span>
      </div>
      <div class="p-3 my-2 rounded  align-self-end bg-light-gray animate__animated animate__fadeIn animate__delay-3s">
        <span class="fs-5">
        Sure! Feel free to look around! <i class="bi bi-emoji-laughing-fill text-yellow"></i>
        </span>
      </div>
    </div>

    <button type="button" onClick="openTab('#pills-more-tab')" class="btn btn-outline-primary btn-lg d-none d-md-block">Read More</button>
  </div>

  <div class="col-lg-6 bg-dark animate__animated animate__fadeIn animate__delay-3s" id="home-img" style="background-image: url('assets/img/home.jpg'); background-size: cover">

  </div>

  <div class="row gx-0 container justify-content-center my-5 d-block d-sm-none">
      <div class="col text-center">
        <button type="button" onClick="openTab('#pills-more-tab')" class="btn btn-outline-primary btn-lg">Read More</button>
      </div>
  </div>
</div>
